/*
 * Do not remove the @namespace line -- it's required for correct functioning
 */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */

browser {
	color: white;
	background-color: #222222;
}

tabbrowser tabpanels {
	color: white  !important;
	background-color: #222222 !important;
}
